<!DOCTYPE html>
<html lang="pl">
  <head>
    {% include('/inc/head.html.twig') %} {% block head %}{% endblock %}
  </head>

  <body>
    <div class="admin-panel">
      <aside class="admin-aside">
        <div class="admin-aside__title">Sklep Komputerowy</div>
        <div class="admin-aside__desc">Panel administratora</div>
        <nav class="admin-aside__nav">
          <ul class="admin-aside__list">
            <li>
              <a href="{{ route('admin.index') }}" class="admin-aside__link">
                <i data-feather="home" class="admin-aside__link-icon"></i
                >Home</a
              >
            </li>
            <br />
            <li>
              <a
                href="{{ route('zamowienia.index') }}"
                class="admin-aside__link"
              >
                <i
                  data-feather="shopping-cart"
                  class="admin-aside__link-icon"
                ></i
                >Zamówienia</a
              >
            </li>
            <li>
              <a href="{{ route('produkty.index') }}" class="admin-aside__link">
                <i data-feather="box" class="admin-aside__link-icon"></i
                >Produkty</a
              >
            </li>
            <li>
              <a
                href="{{ route('uzytkownicy.index') }}"
                class="admin-aside__link"
              >
                <i data-feather="users" class="admin-aside__link-icon"></i
                >Użytkownicy</a
              >
            </li>
            <li>
              <a href="{{ route('adresy.index') }}" class="admin-aside__link">
                <i data-feather="map" class="admin-aside__link-icon"></i
                >Adresy</a
              >
            </li>
            <li>
              <a href="{{ route('logi.index') }}" class="admin-aside__link">
                <i data-feather="list" class="admin-aside__link-icon"></i
                >Logi</a
              >
            </li>
            <br />
            <li>
              <a href="{{ route('login.logout') }}" class="admin-aside__link">
                <i data-feather="log-out" class="admin-aside__link-icon"></i
                >Wyloguj</a
              >
            </li>
          </ul>
        </nav>
      </aside>
      <div class="admin-wrapper">
        <header class="admin-header">
          <p class="admin-header__title">
            UR - Projekt zaliczeniowy Bazy Danych - Maciej Biel, Kamil Data,
            Karol Bobowski
          </p>
          <div class="admin-header__user">
            <img class="admin-header__user-av" src="{{
              assets("img/avatar.png")
            }}" alt=""/>
            <p class="admin-header__user-hello">
              {% if sessionGet("email") %}
              {{ sessionGet("email") }}
              {% else %} Administrator {% endif %}
            </p>
          </div>
        </header>
        <main class="admin-main">{% block content %}{% endblock %}</main>
      </div>
    </div>

    {% include '/inc/footer.html.twig' %} {% block js %}{% endblock %}
    <script>
      feather.replace();
    </script>
  </body>
</html>
